<div *ngIf="champions.length != 0" >
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Role</th>
          <th scope="col">Mugshot</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let champ of champions">
          <td>{{champ.id}}</td>
          <td>{{champ.name}}</td>
          <td>{{champ.difficulty}}</td>
          <td>{{champ.role}}</td>
          <td>
            <img src={{champ.imageUrl}} height=75>
          </td>
          <td>
            <a [routerLink]="['/lolchamp-edit/', champ.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
            <a [routerLink]="" (click)="deleteChampion(champ.id)" class="btn btn-danger btn-sm float-right">Delete</a>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>
